@use '../../theme.scss' as variables;

section.newsletter-container {
    width: 100%;
    height: 162px;
    background-color: variables.$roxo;
    color: variables.$branco;
    font-family: variables.$font;
    display: flex;
    justify-content: center;
    align-items: center;

    .newsletter-content {
        max-width: 1280px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .newsletter-text {
            max-width: 522px;
            width: 100%;

            h2 {
                font-weight: 600;
                font-size: 32px;
                line-height: 120%;
                letter-spacing: 0%;
                vertical-align: middle;
                margin-bottom: 1rem;
            }

            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0%;

            }
        }

        .newsletter-form {
            max-width: 639px;
            width: 100%;

            .text-inputs {
                border: none;
                display: flex;
                justify-content: space-between;

                input {
                    width: 233px;
                    height: 42px;
                    border-radius: 8px;
                    border: none;
                    padding: 1rem;
                }

                input[type="submit"] {
                    width: 157px;
                    gap: 10px;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 12px;
                    letter-spacing: 0%;
                    color: variables.$preto;
                    background-color: variables.$amarelo;
                }
            }

            .checkbox {
                margin-top: 1rem;
            }
        }
    }
}